[data-cellid="above-grid_c1"][data-page="_global_login"][data-cellid="above-grid_c1"][data-page="_global_login"][data-cellid="above-grid_c1"][data-page="_global_login"] {
  background-color: #ffffff;
  color: #ffffff;
}
[data-cellid="supertop_c1"][data-page="_global_login"][data-cellid="supertop_c1"][data-page="_global_login"][data-cellid="supertop_c1"][data-page="_global_login"] {
  white-space: normal;
}
[data-cellid="grid_c1"][data-page="_global_login"][data-cellid="grid_c1"][data-page="_global_login"][data-cellid="grid_c1"][data-page="_global_login"] {
  background-color: #ffffff;
}
[data-cellid="grid_c2"][data-page="_global_login"][data-cellid="grid_c2"][data-page="_global_login"][data-cellid="grid_c2"][data-page="_global_login"] {
  background-color: #ffffff;
}
[data-cellid="grid_c3"][data-page="_global_login"][data-cellid="grid_c3"][data-page="_global_login"][data-cellid="grid_c3"][data-page="_global_login"] {
  background-color: #ffffff;
}
[data-cellid="grid_c4"][data-page="_global_login"][data-cellid="grid_c4"][data-page="_global_login"][data-cellid="grid_c4"][data-page="_global_login"] {
  background-color: #ffffff;
}
[data-cellid="footer_c1"][data-page="_global_login"][data-cellid="footer_c1"][data-page="_global_login"][data-cellid="footer_c1"][data-page="_global_login"] {
  background-color: #ffffff;
  width: 33.33333333%;
}
[data-cellid="footer_c2"][data-page="_global_login"][data-cellid="footer_c2"][data-page="_global_login"][data-cellid="footer_c2"][data-page="_global_login"] {
  width: 66.66666667%;
}
[data-page="_global_login"][data-itemid="text"] {
  font-weight: bold;
}
[data-page="_global_login"][data-itemid="text1"] {
  font-weight: bold;
}
[data-page="_global_login"][data-itemid="text2"] {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  white-space: normal;
}
[data-page="_global_login"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


