[data-cellid="grid_fields_message"][data-page="_global_userinfo"][data-cellid="grid_fields_message"][data-page="_global_userinfo"][data-cellid="grid_fields_message"][data-page="_global_userinfo"] {
  background-color: #ffffff;
}
[data-cellid="grid_buttons"][data-page="_global_userinfo"][data-cellid="grid_buttons"][data-page="_global_userinfo"][data-cellid="grid_buttons"][data-page="_global_userinfo"] {
  background-color: #ffffff;
  padding: 15px;
}
[data-cellid="grid_fields"][data-page="_global_userinfo"][data-cellid="grid_fields"][data-page="_global_userinfo"][data-cellid="grid_fields"][data-page="_global_userinfo"] {
  background-color: #ffffff;
}
[data-page="_global_userinfo"][data-itemid="user_fields_title"] {
  font-size: 24px;
}
[data-page="_global_userinfo"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


