[data-cellid="above-grid_c1"][data-page="activar_vacancia_edit"][data-cellid="above-grid_c1"][data-page="activar_vacancia_edit"][data-cellid="above-grid_c1"][data-page="activar_vacancia_edit"] {
  background-color: transparent;
}
[data-cellid="grid_c1"][data-page="activar_vacancia_edit"][data-cellid="grid_c1"][data-page="activar_vacancia_edit"][data-cellid="grid_c1"][data-page="activar_vacancia_edit"] {
  background-color: #ffffff;
}
[data-cellid="grid_c2"][data-page="activar_vacancia_edit"][data-cellid="grid_c2"][data-page="activar_vacancia_edit"][data-cellid="grid_c2"][data-page="activar_vacancia_edit"] {
  background-color: #ffffff;
}
[data-cellid="grid_c3"][data-page="activar_vacancia_edit"][data-cellid="grid_c3"][data-page="activar_vacancia_edit"][data-cellid="grid_c3"][data-page="activar_vacancia_edit"] {
  background-color: #ffffff;
}
[data-cellid="grid_c"][data-page="activar_vacancia_edit"][data-cellid="grid_c"][data-page="activar_vacancia_edit"][data-cellid="grid_c"][data-page="activar_vacancia_edit"] {
  background-color: #ffffff;
}
[data-cellid="step2_c1"][data-page="activar_vacancia_edit"][data-cellid="step2_c1"][data-page="activar_vacancia_edit"][data-cellid="step2_c1"][data-page="activar_vacancia_edit"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step2_c"][data-page="activar_vacancia_edit"][data-cellid="step2_c"][data-page="activar_vacancia_edit"][data-cellid="step2_c"][data-page="activar_vacancia_edit"] {
  background-color: #ffffff;
}
[data-cellid="step2_c2"][data-page="activar_vacancia_edit"][data-cellid="step2_c2"][data-page="activar_vacancia_edit"][data-cellid="step2_c2"][data-page="activar_vacancia_edit"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step2_c3"][data-page="activar_vacancia_edit"][data-cellid="step2_c3"][data-page="activar_vacancia_edit"][data-cellid="step2_c3"][data-page="activar_vacancia_edit"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step2_c4"][data-page="activar_vacancia_edit"][data-cellid="step2_c4"][data-page="activar_vacancia_edit"][data-cellid="step2_c4"][data-page="activar_vacancia_edit"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step2_c5"][data-page="activar_vacancia_edit"][data-cellid="step2_c5"][data-page="activar_vacancia_edit"][data-cellid="step2_c5"][data-page="activar_vacancia_edit"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step2_c6"][data-page="activar_vacancia_edit"][data-cellid="step2_c6"][data-page="activar_vacancia_edit"][data-cellid="step2_c6"][data-page="activar_vacancia_edit"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step2_c9"][data-page="activar_vacancia_edit"][data-cellid="step2_c9"][data-page="activar_vacancia_edit"][data-cellid="step2_c9"][data-page="activar_vacancia_edit"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step2_c10"][data-page="activar_vacancia_edit"][data-cellid="step2_c10"][data-page="activar_vacancia_edit"][data-cellid="step2_c10"][data-page="activar_vacancia_edit"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step2_c11"][data-page="activar_vacancia_edit"][data-cellid="step2_c11"][data-page="activar_vacancia_edit"][data-cellid="step2_c11"][data-page="activar_vacancia_edit"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step2_c12"][data-page="activar_vacancia_edit"][data-cellid="step2_c12"][data-page="activar_vacancia_edit"][data-cellid="step2_c12"][data-page="activar_vacancia_edit"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step2_c13"][data-page="activar_vacancia_edit"][data-cellid="step2_c13"][data-page="activar_vacancia_edit"][data-cellid="step2_c13"][data-page="activar_vacancia_edit"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step2_c14"][data-page="activar_vacancia_edit"][data-cellid="step2_c14"][data-page="activar_vacancia_edit"][data-cellid="step2_c14"][data-page="activar_vacancia_edit"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step3_c1"][data-page="activar_vacancia_edit"][data-cellid="step3_c1"][data-page="activar_vacancia_edit"][data-cellid="step3_c1"][data-page="activar_vacancia_edit"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step3_c"][data-page="activar_vacancia_edit"][data-cellid="step3_c"][data-page="activar_vacancia_edit"][data-cellid="step3_c"][data-page="activar_vacancia_edit"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step3_c2"][data-page="activar_vacancia_edit"][data-cellid="step3_c2"][data-page="activar_vacancia_edit"][data-cellid="step3_c2"][data-page="activar_vacancia_edit"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step3_c3"][data-page="activar_vacancia_edit"][data-cellid="step3_c3"][data-page="activar_vacancia_edit"][data-cellid="step3_c3"][data-page="activar_vacancia_edit"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step3_c4"][data-page="activar_vacancia_edit"][data-cellid="step3_c4"][data-page="activar_vacancia_edit"][data-cellid="step3_c4"][data-page="activar_vacancia_edit"] {
  background-color: #ffffff;
  width: 634px;
}
[data-cellid="step4_c1"][data-page="activar_vacancia_edit"][data-cellid="step4_c1"][data-page="activar_vacancia_edit"][data-cellid="step4_c1"][data-page="activar_vacancia_edit"] {
  background-color: #ffffff;
  width: 634px;
  padding: 5px;
}
[data-cellid="step4_c2"][data-page="activar_vacancia_edit"][data-cellid="step4_c2"][data-page="activar_vacancia_edit"][data-cellid="step4_c2"][data-page="activar_vacancia_edit"] {
  background-color: #ffffff;
  width: 634px;
  padding: 5px;
}
[data-cellid="step4_c3"][data-page="activar_vacancia_edit"][data-cellid="step4_c3"][data-page="activar_vacancia_edit"][data-cellid="step4_c3"][data-page="activar_vacancia_edit"] {
  background-color: #ffffff;
  width: 634px;
  padding: 5px;
}
[data-cellid="step4_c4"][data-page="activar_vacancia_edit"][data-cellid="step4_c4"][data-page="activar_vacancia_edit"][data-cellid="step4_c4"][data-page="activar_vacancia_edit"] {
  background-color: #ffffff;
}
[data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field25"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field25"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field25"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field25"] > * > label,
[data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field25"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field25"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field25"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field25"] > * > * > input,
[data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field25"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field25"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field25"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field25"] > * > * > textarea,
[data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field25"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field25"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field25"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field25"] > * > * > select,
[data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field25"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field25"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field25"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field25"] > * > * > .r-readonly-control,
[data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field25"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field25"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field25"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field25"] > * > * > * > select {
  white-space: normal;
}
[data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field26"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field26"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field26"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field26"] > * > label,
[data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field26"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field26"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field26"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field26"] > * > * > input,
[data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field26"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field26"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field26"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field26"] > * > * > textarea,
[data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field26"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field26"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field26"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field26"] > * > * > select,
[data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field26"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field26"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field26"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field26"] > * > * > .r-readonly-control,
[data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field26"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field26"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field26"][data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field26"] > * > * > * > select {
  white-space: normal;
}
[data-page="activar_vacancia_edit"][data-itemid="menu"] > .nav {
  background-color: transparent;
}
[data-page="activar_vacancia_edit"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


[data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field16"] {
 max-width:321px  !important;;
}

[data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field23"] {
 max-width:321px  !important;;
}

[data-page="activar_vacancia_edit"][data-itemid="integrated_edit_field24"] {
 max-width:321px  !important;;
}
