[data-cellid="above-grid_c1"][data-page="activar_vacancia_add"][data-cellid="above-grid_c1"][data-page="activar_vacancia_add"][data-cellid="above-grid_c1"][data-page="activar_vacancia_add"] {
  background-color: transparent;
}
[data-cellid="above-grid_c2"][data-page="activar_vacancia_add"][data-cellid="above-grid_c2"][data-page="activar_vacancia_add"][data-cellid="above-grid_c2"][data-page="activar_vacancia_add"] {
  background-color: transparent;
}
[data-cellid="supertop_c1"][data-page="activar_vacancia_add"][data-cellid="supertop_c1"][data-page="activar_vacancia_add"][data-cellid="supertop_c1"][data-page="activar_vacancia_add"] {
  background-color: transparent;
}
[data-cellid="supertop_c2"][data-page="activar_vacancia_add"][data-cellid="supertop_c2"][data-page="activar_vacancia_add"][data-cellid="supertop_c2"][data-page="activar_vacancia_add"] {
  background-color: transparent;
}
[data-cellid="supertop_c3"][data-page="activar_vacancia_add"][data-cellid="supertop_c3"][data-page="activar_vacancia_add"][data-cellid="supertop_c3"][data-page="activar_vacancia_add"] {
  background-color: transparent;
}
[data-cellid="top_c1"][data-page="activar_vacancia_add"][data-cellid="top_c1"][data-page="activar_vacancia_add"][data-cellid="top_c1"][data-page="activar_vacancia_add"] {
  background-color: transparent;
}
[data-cellid="grid_c3"][data-page="activar_vacancia_add"][data-cellid="grid_c3"][data-page="activar_vacancia_add"][data-cellid="grid_c3"][data-page="activar_vacancia_add"] {
  background-color: #ffffff;
}
[data-cellid="grid_c"][data-page="activar_vacancia_add"][data-cellid="grid_c"][data-page="activar_vacancia_add"][data-cellid="grid_c"][data-page="activar_vacancia_add"] {
  background-color: #ffffff;
}
[data-cellid="grid_c5"][data-page="activar_vacancia_add"][data-cellid="grid_c5"][data-page="activar_vacancia_add"][data-cellid="grid_c5"][data-page="activar_vacancia_add"] {
  background-color: #ffffff;
}
[data-cellid="grid_c6"][data-page="activar_vacancia_add"][data-cellid="grid_c6"][data-page="activar_vacancia_add"][data-cellid="grid_c6"][data-page="activar_vacancia_add"] {
  background-color: #ffffff;
}
[data-cellid="grid_c7"][data-page="activar_vacancia_add"][data-cellid="grid_c7"][data-page="activar_vacancia_add"][data-cellid="grid_c7"][data-page="activar_vacancia_add"] {
  background-color: #ffffff;
}
[data-cellid="grid_c8"][data-page="activar_vacancia_add"][data-cellid="grid_c8"][data-page="activar_vacancia_add"][data-cellid="grid_c8"][data-page="activar_vacancia_add"] {
  background-color: #ffffff;
}
[data-cellid="step2_c1"][data-page="activar_vacancia_add"][data-cellid="step2_c1"][data-page="activar_vacancia_add"][data-cellid="step2_c1"][data-page="activar_vacancia_add"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step2_c"][data-page="activar_vacancia_add"][data-cellid="step2_c"][data-page="activar_vacancia_add"][data-cellid="step2_c"][data-page="activar_vacancia_add"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step2_c2"][data-page="activar_vacancia_add"][data-cellid="step2_c2"][data-page="activar_vacancia_add"][data-cellid="step2_c2"][data-page="activar_vacancia_add"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step2_c3"][data-page="activar_vacancia_add"][data-cellid="step2_c3"][data-page="activar_vacancia_add"][data-cellid="step2_c3"][data-page="activar_vacancia_add"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step2_c4"][data-page="activar_vacancia_add"][data-cellid="step2_c4"][data-page="activar_vacancia_add"][data-cellid="step2_c4"][data-page="activar_vacancia_add"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step2_c5"][data-page="activar_vacancia_add"][data-cellid="step2_c5"][data-page="activar_vacancia_add"][data-cellid="step2_c5"][data-page="activar_vacancia_add"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step2_c6"][data-page="activar_vacancia_add"][data-cellid="step2_c6"][data-page="activar_vacancia_add"][data-cellid="step2_c6"][data-page="activar_vacancia_add"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step2_c7"][data-page="activar_vacancia_add"][data-cellid="step2_c7"][data-page="activar_vacancia_add"][data-cellid="step2_c7"][data-page="activar_vacancia_add"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step2_c8"][data-page="activar_vacancia_add"][data-cellid="step2_c8"][data-page="activar_vacancia_add"][data-cellid="step2_c8"][data-page="activar_vacancia_add"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step2_c9"][data-page="activar_vacancia_add"][data-cellid="step2_c9"][data-page="activar_vacancia_add"][data-cellid="step2_c9"][data-page="activar_vacancia_add"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step2_c10"][data-page="activar_vacancia_add"][data-cellid="step2_c10"][data-page="activar_vacancia_add"][data-cellid="step2_c10"][data-page="activar_vacancia_add"] {
  background-color: #ffffff;
  width: 100%;
}
[data-cellid="step2_c12"][data-page="activar_vacancia_add"][data-cellid="step2_c12"][data-page="activar_vacancia_add"][data-cellid="step2_c12"][data-page="activar_vacancia_add"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step2_c13"][data-page="activar_vacancia_add"][data-cellid="step2_c13"][data-page="activar_vacancia_add"][data-cellid="step2_c13"][data-page="activar_vacancia_add"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step3_c1"][data-page="activar_vacancia_add"][data-cellid="step3_c1"][data-page="activar_vacancia_add"][data-cellid="step3_c1"][data-page="activar_vacancia_add"] {
  background-color: #ffffff;
}
[data-cellid="step3_c"][data-page="activar_vacancia_add"][data-cellid="step3_c"][data-page="activar_vacancia_add"][data-cellid="step3_c"][data-page="activar_vacancia_add"] {
  background-color: #ffffff;
}
[data-cellid="step3_c2"][data-page="activar_vacancia_add"][data-cellid="step3_c2"][data-page="activar_vacancia_add"][data-cellid="step3_c2"][data-page="activar_vacancia_add"] {
  background-color: #ffffff;
  width: 634px;
}
[data-cellid="step3_c3"][data-page="activar_vacancia_add"][data-cellid="step3_c3"][data-page="activar_vacancia_add"][data-cellid="step3_c3"][data-page="activar_vacancia_add"] {
  background-color: #ffffff;
}
[data-cellid="step3_c4"][data-page="activar_vacancia_add"][data-cellid="step3_c4"][data-page="activar_vacancia_add"][data-cellid="step3_c4"][data-page="activar_vacancia_add"] {
  background-color: #ffffff;
}
[data-cellid="step4_c1"][data-page="activar_vacancia_add"][data-cellid="step4_c1"][data-page="activar_vacancia_add"][data-cellid="step4_c1"][data-page="activar_vacancia_add"] {
  background-color: #ffffff;
  width: 634px;
  padding: 5px;
}
[data-cellid="step4_c2"][data-page="activar_vacancia_add"][data-cellid="step4_c2"][data-page="activar_vacancia_add"][data-cellid="step4_c2"][data-page="activar_vacancia_add"] {
  background-color: #ffffff;
  width: 634px;
  padding: 5px;
}
[data-cellid="step4_c3"][data-page="activar_vacancia_add"][data-cellid="step4_c3"][data-page="activar_vacancia_add"][data-cellid="step4_c3"][data-page="activar_vacancia_add"] {
  background-color: #ffffff;
  width: 634px;
  padding: 5px;
}
[data-page="activar_vacancia_add"][data-itemid="text1"] {
  font-weight: bold;
}
[data-page="activar_vacancia_add"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


[data-page="activar_vacancia_add"][data-itemid="integrated_edit_field15"] {
 max-width:321px  !important;;
}

[data-page="activar_vacancia_add"][data-itemid="integrated_edit_field22"] {
 max-width:321px  !important;;
}

[data-page="activar_vacancia_add"][data-itemid="integrated_edit_field23"] {
 max-width:321px  !important;;
}
