[data-cellid="above-grid_c1"][data-page="cerrar_vacancia_edit"][data-cellid="above-grid_c1"][data-page="cerrar_vacancia_edit"][data-cellid="above-grid_c1"][data-page="cerrar_vacancia_edit"] {
  background-color: transparent;
}
[data-page="cerrar_vacancia_edit"][data-itemid="menu"] > .nav {
  background-color: transparent;
}
[data-page="cerrar_vacancia_edit"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


