[data-cellid="grid_c3"][data-page="feria_empleo_edit"][data-cellid="grid_c3"][data-page="feria_empleo_edit"][data-cellid="grid_c3"][data-page="feria_empleo_edit"] {
  background-color: #ffffff;
}
[data-page="feria_empleo_edit"][data-itemid="edit_header"] {
  color: #ffffff;
}
[data-page="feria_empleo_edit"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


