[data-cellid="grid_c3"][data-page="feria_empleo_add"][data-cellid="grid_c3"][data-page="feria_empleo_add"][data-cellid="grid_c3"][data-page="feria_empleo_add"] {
  background-color: #ffffff;
}
[data-page="feria_empleo_add"][data-itemid="add_header"] {
  color: #ffffff;
  font-weight: bold;
  font-size: 26px;
}
[data-page="feria_empleo_add"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


