[data-cellid="grid_footcell_field4"][data-page="postulacion_preseleccionado_list"][data-cellid="grid_footcell_field4"][data-page="postulacion_preseleccionado_list"][data-cellid="grid_footcell_field4"][data-page="postulacion_preseleccionado_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="postulacion_preseleccionado_list"][data-cellid="grid_footcell_field5"][data-page="postulacion_preseleccionado_list"][data-cellid="grid_footcell_field5"][data-page="postulacion_preseleccionado_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field12"][data-page="postulacion_preseleccionado_list"][data-cellid="grid_footcell_field12"][data-page="postulacion_preseleccionado_list"][data-cellid="grid_footcell_field12"][data-page="postulacion_preseleccionado_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="postulacion_preseleccionado_list"][data-cellid="grid_headcell_checkbox"][data-page="postulacion_preseleccionado_list"][data-cellid="grid_headcell_checkbox"][data-page="postulacion_preseleccionado_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="postulacion_preseleccionado_list"][data-cellid="grid_headcell_icons"][data-page="postulacion_preseleccionado_list"][data-cellid="grid_headcell_icons"][data-page="postulacion_preseleccionado_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="postulacion_preseleccionado_list"][data-cellid="grid_cell_icons"][data-page="postulacion_preseleccionado_list"][data-cellid="grid_cell_icons"][data-page="postulacion_preseleccionado_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_icons1"][data-page="postulacion_preseleccionado_list"][data-cellid="grid_cell_icons1"][data-page="postulacion_preseleccionado_list"][data-cellid="grid_cell_icons1"][data-page="postulacion_preseleccionado_list"] {
  white-space: nowrap;
}
[data-page="postulacion_preseleccionado_list"][data-itemid="details_found"] {
  font-weight: bold;
}
[data-page="postulacion_preseleccionado_list"][data-itemid="grid_field"] {
  font-weight: bold;
}
[data-page="postulacion_preseleccionado_list"][data-itemid="text8"] {
  color: #ffffff;
  font-weight: bold;
  font-size: 26px;
}
[data-page="postulacion_preseleccionado_list"][data-itemid="text_cambiar_estado_preseleccionado"] {
  color: #000000;
}
[data-page="postulacion_preseleccionado_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


