[data-cellid="above-grid_c1"][data-page="vacancia_edit"][data-cellid="above-grid_c1"][data-page="vacancia_edit"][data-cellid="above-grid_c1"][data-page="vacancia_edit"] {
  background-color: transparent;
}
[data-cellid="grid_c1"][data-page="vacancia_edit"][data-cellid="grid_c1"][data-page="vacancia_edit"][data-cellid="grid_c1"][data-page="vacancia_edit"] {
  background-color: #ffffff;
}
[data-cellid="grid_c2"][data-page="vacancia_edit"][data-cellid="grid_c2"][data-page="vacancia_edit"][data-cellid="grid_c2"][data-page="vacancia_edit"] {
  background-color: #ffffff;
}
[data-cellid="grid_c3"][data-page="vacancia_edit"][data-cellid="grid_c3"][data-page="vacancia_edit"][data-cellid="grid_c3"][data-page="vacancia_edit"] {
  background-color: #ffffff;
}
[data-cellid="step2_c1"][data-page="vacancia_edit"][data-cellid="step2_c1"][data-page="vacancia_edit"][data-cellid="step2_c1"][data-page="vacancia_edit"] {
  background-color: #ffffff;
}
[data-cellid="step2_c2"][data-page="vacancia_edit"][data-cellid="step2_c2"][data-page="vacancia_edit"][data-cellid="step2_c2"][data-page="vacancia_edit"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step2_c3"][data-page="vacancia_edit"][data-cellid="step2_c3"][data-page="vacancia_edit"][data-cellid="step2_c3"][data-page="vacancia_edit"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step2_c4"][data-page="vacancia_edit"][data-cellid="step2_c4"][data-page="vacancia_edit"][data-cellid="step2_c4"][data-page="vacancia_edit"] {
  background-color: #ffffff;
}
[data-cellid="step2_c5"][data-page="vacancia_edit"][data-cellid="step2_c5"][data-page="vacancia_edit"][data-cellid="step2_c5"][data-page="vacancia_edit"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step2_c6"][data-page="vacancia_edit"][data-cellid="step2_c6"][data-page="vacancia_edit"][data-cellid="step2_c6"][data-page="vacancia_edit"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step2_c9"][data-page="vacancia_edit"][data-cellid="step2_c9"][data-page="vacancia_edit"][data-cellid="step2_c9"][data-page="vacancia_edit"] {
  background-color: #ffffff;
  width: 320px;
}
[data-cellid="step2_c10"][data-page="vacancia_edit"][data-cellid="step2_c10"][data-page="vacancia_edit"][data-cellid="step2_c10"][data-page="vacancia_edit"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step2_c11"][data-page="vacancia_edit"][data-cellid="step2_c11"][data-page="vacancia_edit"][data-cellid="step2_c11"][data-page="vacancia_edit"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step2_c12"][data-page="vacancia_edit"][data-cellid="step2_c12"][data-page="vacancia_edit"][data-cellid="step2_c12"][data-page="vacancia_edit"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step2_c13"][data-page="vacancia_edit"][data-cellid="step2_c13"][data-page="vacancia_edit"][data-cellid="step2_c13"][data-page="vacancia_edit"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step2_c14"][data-page="vacancia_edit"][data-cellid="step2_c14"][data-page="vacancia_edit"][data-cellid="step2_c14"][data-page="vacancia_edit"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step2_c"][data-page="vacancia_edit"][data-cellid="step2_c"][data-page="vacancia_edit"][data-cellid="step2_c"][data-page="vacancia_edit"] {
  background-color: #ffffff;
}
[data-cellid="step2_c7"][data-page="vacancia_edit"][data-cellid="step2_c7"][data-page="vacancia_edit"][data-cellid="step2_c7"][data-page="vacancia_edit"] {
  background-color: #ffffff;
}
[data-cellid="step3_c1"][data-page="vacancia_edit"][data-cellid="step3_c1"][data-page="vacancia_edit"][data-cellid="step3_c1"][data-page="vacancia_edit"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step3_c"][data-page="vacancia_edit"][data-cellid="step3_c"][data-page="vacancia_edit"][data-cellid="step3_c"][data-page="vacancia_edit"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step3_c2"][data-page="vacancia_edit"][data-cellid="step3_c2"][data-page="vacancia_edit"][data-cellid="step3_c2"][data-page="vacancia_edit"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step3_c3"][data-page="vacancia_edit"][data-cellid="step3_c3"][data-page="vacancia_edit"][data-cellid="step3_c3"][data-page="vacancia_edit"] {
  background-color: #ffffff;
  width: 50%;
}
[data-cellid="step3_c4"][data-page="vacancia_edit"][data-cellid="step3_c4"][data-page="vacancia_edit"][data-cellid="step3_c4"][data-page="vacancia_edit"] {
  background-color: #ffffff;
  width: 634px;
}
[data-cellid="step4_c1"][data-page="vacancia_edit"][data-cellid="step4_c1"][data-page="vacancia_edit"][data-cellid="step4_c1"][data-page="vacancia_edit"] {
  background-color: #ffffff;
  width: 634px;
  padding: 5px;
}
[data-cellid="step4_c"][data-page="vacancia_edit"][data-cellid="step4_c"][data-page="vacancia_edit"][data-cellid="step4_c"][data-page="vacancia_edit"] {
  background-color: #ffffff;
  padding: 0px;
}
[data-cellid="step4_c2"][data-page="vacancia_edit"][data-cellid="step4_c2"][data-page="vacancia_edit"][data-cellid="step4_c2"][data-page="vacancia_edit"] {
  background-color: #ffffff;
  width: 634px;
}
[data-cellid="step4_c3"][data-page="vacancia_edit"][data-cellid="step4_c3"][data-page="vacancia_edit"][data-cellid="step4_c3"][data-page="vacancia_edit"] {
  background-color: #ffffff;
  width: 634px;
  padding: 5px;
}
[data-cellid="step4_c4"][data-page="vacancia_edit"][data-cellid="step4_c4"][data-page="vacancia_edit"][data-cellid="step4_c4"][data-page="vacancia_edit"] {
  background-color: #ffffff;
}
[data-cellid="step4_c7"][data-page="vacancia_edit"][data-cellid="step4_c7"][data-page="vacancia_edit"][data-cellid="step4_c7"][data-page="vacancia_edit"] {
  background-color: #ffffff;
}
[data-page="vacancia_edit"][data-itemid="edit_header"] {
  color: #ffffff;
  font-weight: bold;
  font-size: 26px;
}
[data-page="vacancia_edit"][data-itemid="details_preview1"] {
  background-color: #ffffff;
  padding: 0px;
}
[data-page="vacancia_edit"][data-itemid="details_preview2"] {
  background-color: #ffffff;
  padding: 0px;
}
[data-page="vacancia_edit"][data-itemid="menu"] > .nav {
  background-color: transparent;
}
[data-page="vacancia_edit"][data-itemid="habilidades_cono1"][data-page="vacancia_edit"][data-itemid="habilidades_cono1"][data-page="vacancia_edit"][data-itemid="habilidades_cono1"][data-page="vacancia_edit"][data-itemid="habilidades_cono1"] > * > label,
[data-page="vacancia_edit"][data-itemid="habilidades_cono1"][data-page="vacancia_edit"][data-itemid="habilidades_cono1"][data-page="vacancia_edit"][data-itemid="habilidades_cono1"][data-page="vacancia_edit"][data-itemid="habilidades_cono1"] > * > * > input,
[data-page="vacancia_edit"][data-itemid="habilidades_cono1"][data-page="vacancia_edit"][data-itemid="habilidades_cono1"][data-page="vacancia_edit"][data-itemid="habilidades_cono1"][data-page="vacancia_edit"][data-itemid="habilidades_cono1"] > * > * > textarea,
[data-page="vacancia_edit"][data-itemid="habilidades_cono1"][data-page="vacancia_edit"][data-itemid="habilidades_cono1"][data-page="vacancia_edit"][data-itemid="habilidades_cono1"][data-page="vacancia_edit"][data-itemid="habilidades_cono1"] > * > * > select,
[data-page="vacancia_edit"][data-itemid="habilidades_cono1"][data-page="vacancia_edit"][data-itemid="habilidades_cono1"][data-page="vacancia_edit"][data-itemid="habilidades_cono1"][data-page="vacancia_edit"][data-itemid="habilidades_cono1"] > * > * > .r-readonly-control,
[data-page="vacancia_edit"][data-itemid="habilidades_cono1"][data-page="vacancia_edit"][data-itemid="habilidades_cono1"][data-page="vacancia_edit"][data-itemid="habilidades_cono1"][data-page="vacancia_edit"][data-itemid="habilidades_cono1"] > * > * > * > select {
  white-space: normal;
}
[data-page="vacancia_edit"][data-itemid="field_requisitos_exclu_formacion1"][data-page="vacancia_edit"][data-itemid="field_requisitos_exclu_formacion1"][data-page="vacancia_edit"][data-itemid="field_requisitos_exclu_formacion1"][data-page="vacancia_edit"][data-itemid="field_requisitos_exclu_formacion1"] > * > label,
[data-page="vacancia_edit"][data-itemid="field_requisitos_exclu_formacion1"][data-page="vacancia_edit"][data-itemid="field_requisitos_exclu_formacion1"][data-page="vacancia_edit"][data-itemid="field_requisitos_exclu_formacion1"][data-page="vacancia_edit"][data-itemid="field_requisitos_exclu_formacion1"] > * > * > input,
[data-page="vacancia_edit"][data-itemid="field_requisitos_exclu_formacion1"][data-page="vacancia_edit"][data-itemid="field_requisitos_exclu_formacion1"][data-page="vacancia_edit"][data-itemid="field_requisitos_exclu_formacion1"][data-page="vacancia_edit"][data-itemid="field_requisitos_exclu_formacion1"] > * > * > textarea,
[data-page="vacancia_edit"][data-itemid="field_requisitos_exclu_formacion1"][data-page="vacancia_edit"][data-itemid="field_requisitos_exclu_formacion1"][data-page="vacancia_edit"][data-itemid="field_requisitos_exclu_formacion1"][data-page="vacancia_edit"][data-itemid="field_requisitos_exclu_formacion1"] > * > * > select,
[data-page="vacancia_edit"][data-itemid="field_requisitos_exclu_formacion1"][data-page="vacancia_edit"][data-itemid="field_requisitos_exclu_formacion1"][data-page="vacancia_edit"][data-itemid="field_requisitos_exclu_formacion1"][data-page="vacancia_edit"][data-itemid="field_requisitos_exclu_formacion1"] > * > * > .r-readonly-control,
[data-page="vacancia_edit"][data-itemid="field_requisitos_exclu_formacion1"][data-page="vacancia_edit"][data-itemid="field_requisitos_exclu_formacion1"][data-page="vacancia_edit"][data-itemid="field_requisitos_exclu_formacion1"][data-page="vacancia_edit"][data-itemid="field_requisitos_exclu_formacion1"] > * > * > * > select {
  white-space: normal;
}
[data-page="vacancia_edit"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-page="vacancia_edit"][data-itemid="integrated_edit_field12"] {
 position:relative;
 bottom:-41px;
}


[data-page="vacancia_edit"][data-itemid="integrated_edit_field16"] {
 max-width:321px  !important;;
}

[data-page="vacancia_edit"][data-itemid="integrated_edit_field23"] {
 max-width:321px  !important;;
}

[data-page="vacancia_edit"][data-itemid="integrated_edit_field24"] {
 max-width:321px  !important;;
}
