[data-cellid="grid_headcell_field"][data-page="vacancia_requisito_programa_list"][data-cellid="grid_headcell_field"][data-page="vacancia_requisito_programa_list"][data-cellid="grid_headcell_field"][data-page="vacancia_requisito_programa_list"] {
  width: 33%;
}
[data-cellid="grid_cell_field"][data-page="vacancia_requisito_programa_list"][data-cellid="grid_cell_field"][data-page="vacancia_requisito_programa_list"][data-cellid="grid_cell_field"][data-page="vacancia_requisito_programa_list"] {
  padding: 0px;
}
[data-cellid="grid_footcell_field"][data-page="vacancia_requisito_programa_list"][data-cellid="grid_footcell_field"][data-page="vacancia_requisito_programa_list"][data-cellid="grid_footcell_field"][data-page="vacancia_requisito_programa_list"] {
  width: 33%;
  white-space: nowrap;
}
[data-cellid="grid_headcell_field1"][data-page="vacancia_requisito_programa_list"][data-cellid="grid_headcell_field1"][data-page="vacancia_requisito_programa_list"][data-cellid="grid_headcell_field1"][data-page="vacancia_requisito_programa_list"] {
  width: 33%;
}
[data-cellid="grid_cell_field1"][data-page="vacancia_requisito_programa_list"][data-cellid="grid_cell_field1"][data-page="vacancia_requisito_programa_list"][data-cellid="grid_cell_field1"][data-page="vacancia_requisito_programa_list"] {
  padding: 0px;
}
[data-cellid="grid_footcell_field1"][data-page="vacancia_requisito_programa_list"][data-cellid="grid_footcell_field1"][data-page="vacancia_requisito_programa_list"][data-cellid="grid_footcell_field1"][data-page="vacancia_requisito_programa_list"] {
  width: 33%;
  white-space: nowrap;
}
[data-cellid="grid_headcell_field2"][data-page="vacancia_requisito_programa_list"][data-cellid="grid_headcell_field2"][data-page="vacancia_requisito_programa_list"][data-cellid="grid_headcell_field2"][data-page="vacancia_requisito_programa_list"] {
  background-color: #ffffff;
}
[data-cellid="grid_headcell_field3"][data-page="vacancia_requisito_programa_list"][data-cellid="grid_headcell_field3"][data-page="vacancia_requisito_programa_list"][data-cellid="grid_headcell_field3"][data-page="vacancia_requisito_programa_list"] {
  background-color: #ffffff;
}
[data-cellid="grid_headcell_field4"][data-page="vacancia_requisito_programa_list"][data-cellid="grid_headcell_field4"][data-page="vacancia_requisito_programa_list"][data-cellid="grid_headcell_field4"][data-page="vacancia_requisito_programa_list"] {
  background-color: #ffffff;
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="vacancia_requisito_programa_list"][data-cellid="grid_headcell_checkbox"][data-page="vacancia_requisito_programa_list"][data-cellid="grid_headcell_checkbox"][data-page="vacancia_requisito_programa_list"] {
  width: 30px;
}
[data-page="vacancia_requisito_programa_list"][data-itemid="simple_grid_field"] {
  font-weight: bold;
}
[data-page="vacancia_requisito_programa_list"][data-itemid="simple_grid_field2"] {
  width: 600px;
}
[data-page="vacancia_requisito_programa_list"][data-itemid="simple_grid_field3"] {
  width: 600px;
}
[data-page="vacancia_requisito_programa_list"][data-itemid="simple_grid_field4"] {
  font-weight: bold;
}
[data-page="vacancia_requisito_programa_list"][data-itemid="inline_add"] > .btn {
  background-color: #4e49f8;
  background-image: none;
  text-shadow: none;
}
[data-page="vacancia_requisito_programa_list"][data-itemid="inline_save_all"] > .btn {
  background-color: #4e49f8;
  background-image: none;
  text-shadow: none;
}
[data-page="vacancia_requisito_programa_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-cellid="above-grid_c1"][data-page="vacancia_requisito_programa_list"][data-cellid="above-grid_c1"][data-page="vacancia_requisito_programa_list"][data-cellid="above-grid_c1"][data-page="vacancia_requisito_programa_list"] {
   background-image: linear-gradient(100deg,#4e49f8 0%,#d5018a 100%)!important;
}
/* Put  your custom CSS code here */

[data-page="vacancia_requisito_programa_list"][data-itemid="inline_add"] {
 background-color:#4e49f8;
}

/* Put  your custom CSS code here */

[data-page="vacancia_requisito_programa_list"][data-itemid="inline_save_all"] {
 background-color:#4e49f8;
}

