[data-cellid="grid_c3"][data-page="vacancia_tmp_add"][data-cellid="grid_c3"][data-page="vacancia_tmp_add"][data-cellid="grid_c3"][data-page="vacancia_tmp_add"] {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
[data-cellid="grid_c"][data-page="vacancia_tmp_add"][data-cellid="grid_c"][data-page="vacancia_tmp_add"][data-cellid="grid_c"][data-page="vacancia_tmp_add"] {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
[data-cellid="step2_c1"][data-page="vacancia_tmp_add"][data-cellid="step2_c1"][data-page="vacancia_tmp_add"][data-cellid="step2_c1"][data-page="vacancia_tmp_add"] {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
[data-cellid="step2_c2"][data-page="vacancia_tmp_add"][data-cellid="step2_c2"][data-page="vacancia_tmp_add"][data-cellid="step2_c2"][data-page="vacancia_tmp_add"] {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
[data-cellid="step2_c3"][data-page="vacancia_tmp_add"][data-cellid="step2_c3"][data-page="vacancia_tmp_add"][data-cellid="step2_c3"][data-page="vacancia_tmp_add"] {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
[data-cellid="step2_c4"][data-page="vacancia_tmp_add"][data-cellid="step2_c4"][data-page="vacancia_tmp_add"][data-cellid="step2_c4"][data-page="vacancia_tmp_add"] {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
[data-cellid="step2_c5"][data-page="vacancia_tmp_add"][data-cellid="step2_c5"][data-page="vacancia_tmp_add"][data-cellid="step2_c5"][data-page="vacancia_tmp_add"] {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
[data-cellid="step2_c6"][data-page="vacancia_tmp_add"][data-cellid="step2_c6"][data-page="vacancia_tmp_add"][data-cellid="step2_c6"][data-page="vacancia_tmp_add"] {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
[data-cellid="step2_c7"][data-page="vacancia_tmp_add"][data-cellid="step2_c7"][data-page="vacancia_tmp_add"][data-cellid="step2_c7"][data-page="vacancia_tmp_add"] {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
[data-cellid="step2_c8"][data-page="vacancia_tmp_add"][data-cellid="step2_c8"][data-page="vacancia_tmp_add"][data-cellid="step2_c8"][data-page="vacancia_tmp_add"] {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
[data-cellid="step2_c9"][data-page="vacancia_tmp_add"][data-cellid="step2_c9"][data-page="vacancia_tmp_add"][data-cellid="step2_c9"][data-page="vacancia_tmp_add"] {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
[data-cellid="step2_c10"][data-page="vacancia_tmp_add"][data-cellid="step2_c10"][data-page="vacancia_tmp_add"][data-cellid="step2_c10"][data-page="vacancia_tmp_add"] {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
[data-cellid="step2_c11"][data-page="vacancia_tmp_add"][data-cellid="step2_c11"][data-page="vacancia_tmp_add"][data-cellid="step2_c11"][data-page="vacancia_tmp_add"] {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
[data-cellid="step2_c12"][data-page="vacancia_tmp_add"][data-cellid="step2_c12"][data-page="vacancia_tmp_add"][data-cellid="step2_c12"][data-page="vacancia_tmp_add"] {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
[data-cellid="step2_c13"][data-page="vacancia_tmp_add"][data-cellid="step2_c13"][data-page="vacancia_tmp_add"][data-cellid="step2_c13"][data-page="vacancia_tmp_add"] {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
[data-cellid="step2_c14"][data-page="vacancia_tmp_add"][data-cellid="step2_c14"][data-page="vacancia_tmp_add"][data-cellid="step2_c14"][data-page="vacancia_tmp_add"] {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
[data-cellid="step3_c1"][data-page="vacancia_tmp_add"][data-cellid="step3_c1"][data-page="vacancia_tmp_add"][data-cellid="step3_c1"][data-page="vacancia_tmp_add"] {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
[data-cellid="step3_c"][data-page="vacancia_tmp_add"][data-cellid="step3_c"][data-page="vacancia_tmp_add"][data-cellid="step3_c"][data-page="vacancia_tmp_add"] {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
[data-cellid="step3_c2"][data-page="vacancia_tmp_add"][data-cellid="step3_c2"][data-page="vacancia_tmp_add"][data-cellid="step3_c2"][data-page="vacancia_tmp_add"] {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
[data-cellid="step3_c3"][data-page="vacancia_tmp_add"][data-cellid="step3_c3"][data-page="vacancia_tmp_add"][data-cellid="step3_c3"][data-page="vacancia_tmp_add"] {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
[data-cellid="step3_c4"][data-page="vacancia_tmp_add"][data-cellid="step3_c4"][data-page="vacancia_tmp_add"][data-cellid="step3_c4"][data-page="vacancia_tmp_add"] {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
[data-cellid="step3_c5"][data-page="vacancia_tmp_add"][data-cellid="step3_c5"][data-page="vacancia_tmp_add"][data-cellid="step3_c5"][data-page="vacancia_tmp_add"] {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
[data-cellid="step3_c6"][data-page="vacancia_tmp_add"][data-cellid="step3_c6"][data-page="vacancia_tmp_add"][data-cellid="step3_c6"][data-page="vacancia_tmp_add"] {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
[data-cellid="step3_c7"][data-page="vacancia_tmp_add"][data-cellid="step3_c7"][data-page="vacancia_tmp_add"][data-cellid="step3_c7"][data-page="vacancia_tmp_add"] {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
[data-cellid="step3_c8"][data-page="vacancia_tmp_add"][data-cellid="step3_c8"][data-page="vacancia_tmp_add"][data-cellid="step3_c8"][data-page="vacancia_tmp_add"] {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
[data-cellid="step3_c9"][data-page="vacancia_tmp_add"][data-cellid="step3_c9"][data-page="vacancia_tmp_add"][data-cellid="step3_c9"][data-page="vacancia_tmp_add"] {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
[data-cellid="step4_c1"][data-page="vacancia_tmp_add"][data-cellid="step4_c1"][data-page="vacancia_tmp_add"][data-cellid="step4_c1"][data-page="vacancia_tmp_add"] {
  background-color: #ffffff;
  width: 90%;
  padding-left: 10px;
  padding-right: 10px;
}
[data-cellid="step4_c"][data-page="vacancia_tmp_add"][data-cellid="step4_c"][data-page="vacancia_tmp_add"][data-cellid="step4_c"][data-page="vacancia_tmp_add"] {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
[data-cellid="step4_c2"][data-page="vacancia_tmp_add"][data-cellid="step4_c2"][data-page="vacancia_tmp_add"][data-cellid="step4_c2"][data-page="vacancia_tmp_add"] {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
[data-cellid="step4_c3"][data-page="vacancia_tmp_add"][data-cellid="step4_c3"][data-page="vacancia_tmp_add"][data-cellid="step4_c3"][data-page="vacancia_tmp_add"] {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
[data-cellid="step4_c4"][data-page="vacancia_tmp_add"][data-cellid="step4_c4"][data-page="vacancia_tmp_add"][data-cellid="step4_c4"][data-page="vacancia_tmp_add"] {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
[data-cellid="step4_c6"][data-page="vacancia_tmp_add"][data-cellid="step4_c6"][data-page="vacancia_tmp_add"][data-cellid="step4_c6"][data-page="vacancia_tmp_add"] {
  background-color: #ffffff;
  width: 90%;
  padding-left: 10px;
  padding-right: 10px;
}
[data-cellid="step4_c5"][data-page="vacancia_tmp_add"][data-cellid="step4_c5"][data-page="vacancia_tmp_add"][data-cellid="step4_c5"][data-page="vacancia_tmp_add"] {
  background-color: #ffffff;
}
[data-page="vacancia_tmp_add"][data-itemid="add_header"] {
  color: #ffffff;
}
[data-page="vacancia_tmp_add"][data-itemid="text"] {
  font-weight: bold;
}
[data-page="vacancia_tmp_add"][data-itemid="text1"] {
  font-weight: bold;
}
[data-page="vacancia_tmp_add"][data-itemid="text2"] {
  font-weight: bold;
}
[data-page="vacancia_tmp_add"][data-itemid="text3"] {
  font-weight: bold;
}
[data-page="vacancia_tmp_add"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


[data-cellid="step3_c1"][data-page="vacancia_tmp_add"][data-cellid="step3_c1"][data-page="vacancia_tmp_add"][data-cellid="step3_c1"][data-page="vacancia_tmp_add"] {
 padding-bottom:0px;
}

[data-cellid="step3_c"][data-page="vacancia_tmp_add"][data-cellid="step3_c"][data-page="vacancia_tmp_add"][data-cellid="step3_c"][data-page="vacancia_tmp_add"] {
 padding-bottom:0px;
}

[data-cellid="step3_c2"][data-page="vacancia_tmp_add"][data-cellid="step3_c2"][data-page="vacancia_tmp_add"][data-cellid="step3_c2"][data-page="vacancia_tmp_add"] {
 padding-bottom:0px;
}

[data-cellid="step3_c3"][data-page="vacancia_tmp_add"][data-cellid="step3_c3"][data-page="vacancia_tmp_add"][data-cellid="step3_c3"][data-page="vacancia_tmp_add"] {
 padding-bottom:0px;
}

[data-cellid="step3_c4"][data-page="vacancia_tmp_add"][data-cellid="step3_c4"][data-page="vacancia_tmp_add"][data-cellid="step3_c4"][data-page="vacancia_tmp_add"] {
 padding-bottom:0px;
}

[data-cellid="step3_c5"][data-page="vacancia_tmp_add"][data-cellid="step3_c5"][data-page="vacancia_tmp_add"][data-cellid="step3_c5"][data-page="vacancia_tmp_add"] {
 padding-bottom:0px;
}

[data-cellid="step3_c6"][data-page="vacancia_tmp_add"][data-cellid="step3_c6"][data-page="vacancia_tmp_add"][data-cellid="step3_c6"][data-page="vacancia_tmp_add"] {
 padding-bottom:0px;
}

[data-cellid="step3_c7"][data-page="vacancia_tmp_add"][data-cellid="step3_c7"][data-page="vacancia_tmp_add"][data-cellid="step3_c7"][data-page="vacancia_tmp_add"] {
 padding-bottom:0px;
}

[data-cellid="step3_c8"][data-page="vacancia_tmp_add"][data-cellid="step3_c8"][data-page="vacancia_tmp_add"][data-cellid="step3_c8"][data-page="vacancia_tmp_add"] {
 padding-bottom:0px;
}

[data-cellid="step3_c9"][data-page="vacancia_tmp_add"][data-cellid="step3_c9"][data-page="vacancia_tmp_add"][data-cellid="step3_c9"][data-page="vacancia_tmp_add"] {
 padding-bottom:0px;
}
/* Put  your custom CSS code here */

/* Grid */
.r-body .r-data-block .r-grid{
 background-color:#ffffff;
}
