<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>
	<body class="{$stylename} function-list"  >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<div class="r-topbar-page">
			<div data-menu-width="full" 
				 
				class="r-topheader" 
				data-resize-name="topbar"
				data-body-align="center"
			>
								{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="topbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class="r-align-left r-ori-vert navbar-header" data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</span>
							 
							 
				<span data-cellId="supertop_c2" data-pageid="{$pageid}" class="r-align-right navbar-collapse" data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{BEGIN menuitems_main}
<ul data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}"	class="r-menu nav navbar-nav" 
	data-menulevel="1"
>

{BEGIN item_children1}
<li class="
	{BEGIN item_haschildren2} dropdown {END item_haschildren2} 
	{$item_current}">
<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-h data-menu-top >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren2}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon glyphicon glyphicon-triangle-bottom"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren2}
	</span>
	</a>
{BEGIN item_showchildren2}
<ul class="
			dropdown-menu
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="2">
	{BEGIN item_children2}
		{BEGIN item_menulink2}
		<li class="
						{BEGIN item_haschildren2} dropdown {END item_haschildren2}
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-h >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren2}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon glyphicon glyphicon-triangle-right"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren2}
	</span>
	</a>
			{BEGIN item_showchildren3}
<ul class="
			dropdown-menu
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="3">
	{BEGIN item_children3}
		{BEGIN item_menulink3}
		<li class="
						{BEGIN item_haschildren3} dropdown {END item_haschildren3}
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-h >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren3}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon glyphicon glyphicon-triangle-right"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren3}
	</span>
	</a>
			{BEGIN item_showchildren4}
<ul class="
			dropdown-menu
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="4">
	{BEGIN item_children4}
		{BEGIN item_menulink4}
		<li class="
						{BEGIN item_haschildren4} dropdown {END item_haschildren4}
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-h >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren4}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon glyphicon glyphicon-triangle-right"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren4}
	</span>
	</a>
			{BEGIN item_showchildren5}
<ul class="
			dropdown-menu
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="5">
	{BEGIN item_children5}
		{BEGIN item_menulink5}
		<li class="
						{BEGIN item_haschildren5} dropdown {END item_haschildren5}
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-h >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren5}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon glyphicon glyphicon-triangle-right"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren5}
	</span>
	</a>
					</li>
		{END item_menulink5}
	{END item_children5}
</ul>
{END item_showchildren5}
		</li>
		{END item_menulink4}
	{END item_children4}
</ul>
{END item_showchildren4}
		</li>
		{END item_menulink3}
	{END item_children3}
</ul>
{END item_showchildren3}
		</li>
		{END item_menulink2}
	{END item_children2}
</ul>
{END item_showchildren2}
</li>
{END item_children1}
</ul>
{END menuitems_main}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options" >
				<span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-small data-button-item>
</span>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN userinfo_link}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		Perfil del usuario		
		</a>
	</li>
{END userinfo_link}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Desconectarse		
		</a>
	</li>
{END logoutbutton}
							{BEGIN changepwd_link}
	<li data-itemtype="changepassword_link" data-itemid="changepassword_link" {$item_changepassword_link} data-pageid="{$pageid}" data-small >
				<a  href="changepwd.php" {$changepwdlink_attrs} id="changePasswordButton{$id}"  title="" >
				
		Cambiar contraseña		
		</a>
	</li>
{END changepwd_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
					{$locking}
			</div>	
			<div data-body-align="center"  data-body-width="standard" class="r-body" data-resize-top="topbar" >
				<div class="r-top">
								{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="topbar" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
			</div>					</div>
			 
				<div class="row">
			 
				<div 
	data-cellId="top_c3" data-pageid="{$pageid}"	{$cell_top_c3}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN mastertable_block}
<div data-itemtype="master_info" data-itemid="master_info" {$item_master_info} data-pageid="{$pageid}">
	{$showmasterfile}
</div>
{END mastertable_block}		</div>					</div>
			</div>		
{END top_block}
					</div>
				<div class="r-content">
										<div class="r-left" {$blockattr_left} {$form_left} >
										{BEGIN left_block}
<table class="r-fluid r-form" data-location="left" id="form_left_{$pageid}" data-makeup="topbar" {$form_left} data-pageid="{$pageid}" >
						<tbody>
			
								<tr {$row_left_0} >
									<td 
	class=" r-ori-vert			"
			 
	data-cellId="left_c2" data-pageid="{$pageid}">
</td>
							</tr>
					
					</tbody>
				</table>
{END left_block}
						</div>
										<div class="r-data-block" data-body-width="standard" >
						
											<div class="r-above">
					{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="topbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c" data-pageid="{$pageid}"	{$cell_above-grid_c}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		<span data-itemtype="text" data-itemid="text8" {$item_text8} data-pageid="{$pageid}" data-page="postulacion_importar_planilla_list" data-small > 
	Postulación</span>
			{END firstAboveGridCell}	
	</div>					</div>
			 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-6
	
">
		 
		<span data-itemtype="details_found" data-itemid="details_found" {$item_details_found} data-pageid="{$pageid}" data-page="postulacion_importar_planilla_list" data-small >
{$mlp_push}{$mlparam first var first_shown}{$mlparam last var last_shown}{$mlparam total var records_found}{$custom DISPLAYING}{$mlp_pop}</span>		</div>			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	
">
		 
		<span data-itemtype="simple_search" data-itemid="simple_search" {$item_simple_search} data-pageid="{$pageid}" class="form-group">

<div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
				<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Mostrar todo">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}

	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>		</div>					</div>
			</div>		
{END above-grid_block}
	</div>
<div class="r-grid">
	{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
					{BEGIN grid_block}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}	<style>
@media screen and (max-width: 767px) {
		[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="id_vacancias"]:before {
		content: "{$label bolsa_empleo_postulacion_importar_planilla id_vacancias}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="estado"]:before {
		content: "{$label bolsa_empleo_postulacion_importar_planilla estado}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="nombre"]:before {
		content: "{$label bolsa_empleo_postulacion_importar_planilla nombre}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="id_postulacion"]:before {
		content: "{$label bolsa_empleo_postulacion_importar_planilla id_postulacion}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="nombre_completo"]:before {
		content: "{$label bolsa_empleo_postulacion_importar_planilla nombre_completo}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="descripcion"]:before {
		content: "{$label bolsa_empleo_postulacion_importar_planilla descripcion}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="fecha_postulacion"]:before {
		content: "{$label bolsa_empleo_postulacion_importar_planilla fecha_postulacion}";
	}
	}
</style>
<table data-location="grid" id="form_grid_{$pageid}" data-makeup="topbar" {$form_grid} data-pageid="{$pageid}" class=" table  r-horizontal-grid  r-flexgrid rnr-b-grid rnr-gridtable"
	cellpadding="0"
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
			
																									<tr {$rowattrs} {$row_grid_0} class="{$rowclass}
									{$gridHeader_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$id_vacancias_class}	"

			data-field="id_vacancias"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN id_vacancias_fieldheadercolumn}
	{BEGIN id_vacancias_fieldheader}
<span 
	data-itemtype="grid_field_label" data-itemid="grid_field_label6" {$item_grid_field_label6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="id_vacancias" data-fieldname="id_vacancias" 

			{$id_vacancias_orderlinkattrs}
	
	
	>
	<span class="text-label">
		<span>{$label bolsa_empleo_postulacion_importar_planilla id_vacancias }</span>
					{$arrow_icon_id_vacancias}
			</span>
	</span>
	{END id_vacancias_fieldheader}
{END id_vacancias_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
									{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$estado_class}	"

			data-field="estado"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN estado_fieldheadercolumn}
	{BEGIN estado_fieldheader}
<span 
	data-itemtype="grid_field_label" data-itemid="grid_field_label" {$item_grid_field_label} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="estado" data-fieldname="estado" 

			{$estado_orderlinkattrs}
	
	
	>
	<span class="text-label">
		<span>{$label bolsa_empleo_postulacion_importar_planilla estado }</span>
					{$arrow_icon_estado}
			</span>
	</span>
	{END estado_fieldheader}
{END estado_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
									{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$nombre_class}	"

			data-field="nombre"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN nombre_fieldheadercolumn}
	{BEGIN nombre_fieldheader}
<span 
	data-itemtype="grid_field_label" data-itemid="grid_field_label1" {$item_grid_field_label1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="nombre" data-fieldname="nombre" 

			{$nombre_orderlinkattrs}
	
	
	>
	<span class="text-label">
		<span>{$label bolsa_empleo_postulacion_importar_planilla nombre }</span>
					{$arrow_icon_nombre}
			</span>
	</span>
	{END nombre_fieldheader}
{END nombre_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
									{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$id_postulacion_class}	"

			data-field="id_postulacion"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN id_postulacion_fieldheadercolumn}
	{BEGIN id_postulacion_fieldheader}
<span 
	data-itemtype="grid_field_label" data-itemid="grid_field_label5" {$item_grid_field_label5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="id_postulacion" data-fieldname="id_postulacion" 

			{$id_postulacion_orderlinkattrs}
	
	
	>
	<span class="text-label">
		<span>{$label bolsa_empleo_postulacion_importar_planilla id_postulacion }</span>
					{$arrow_icon_id_postulacion}
			</span>
	</span>
	{END id_postulacion_fieldheader}
{END id_postulacion_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
									{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$nombre_completo_class}	"

			data-field="nombre_completo"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN nombre_completo_fieldheadercolumn}
	{BEGIN nombre_completo_fieldheader}
<span 
	data-itemtype="grid_field_label" data-itemid="grid_field_label4" {$item_grid_field_label4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="nombre_completo" data-fieldname="nombre_completo" 

			{$nombre_completo_orderlinkattrs}
	
	
	>
	<span class="text-label">
		<span>{$label bolsa_empleo_postulacion_importar_planilla nombre_completo }</span>
					{$arrow_icon_nombre_completo}
			</span>
	</span>
	{END nombre_completo_fieldheader}
{END nombre_completo_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
									{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$descripcion_class}	"

			data-field="descripcion"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN descripcion_fieldheadercolumn}
	{BEGIN descripcion_fieldheader}
<span 
	data-itemtype="grid_field_label" data-itemid="grid_field_label2" {$item_grid_field_label2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="descripcion" data-fieldname="descripcion" 

			{$descripcion_orderlinkattrs}
	
	
	>
	<span class="text-label">
		<span>{$label bolsa_empleo_postulacion_importar_planilla descripcion }</span>
					{$arrow_icon_descripcion}
			</span>
	</span>
	{END descripcion_fieldheader}
{END descripcion_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
									{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$fecha_postulacion_class}	"

			data-field="fecha_postulacion"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN fecha_postulacion_fieldheadercolumn}
	{BEGIN fecha_postulacion_fieldheader}
<span 
	data-itemtype="grid_field_label" data-itemid="grid_field_label3" {$item_grid_field_label3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="fecha_postulacion" data-fieldname="fecha_postulacion" 

			{$fecha_postulacion_orderlinkattrs}
	
	
	>
	<span class="text-label">
		<span>{$label bolsa_empleo_postulacion_importar_planilla fecha_postulacion }</span>
					{$arrow_icon_fecha_postulacion}
			</span>
	</span>
	{END fecha_postulacion_fieldheader}
{END fecha_postulacion_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
							</tr>
															
					{END grid_header}
			</thead>
															<tbody>
					{BEGIN grid_row}
							
																														<tr {$rowattrs} {$row_grid_1} class="{$rowclass}
				
								r-gridrow
							">
									{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$id_vacancias_class}	"

			data-field="id_vacancias"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN id_vacancias_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field6" {$item_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="id_vacancias" data-fieldname="id_vacancias" data-default-width >
{$id_vacancias_value}
</span>
{END id_vacancias_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
									{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$estado_class}	"

			data-field="estado"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN estado_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field" {$item_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="estado" data-fieldname="estado" data-default-width >
{$estado_value}
</span>
{END estado_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
									{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$nombre_class}	"

			data-field="nombre"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN nombre_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field2" {$item_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="nombre" data-fieldname="nombre" data-default-width >
{$nombre_value}
</span>
{END nombre_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
									{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$id_postulacion_class}	"

			data-field="id_postulacion"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN id_postulacion_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field5" {$item_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="id_postulacion" data-fieldname="id_postulacion" data-default-width >
{$id_postulacion_value}
</span>
{END id_postulacion_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
									{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$nombre_completo_class}	"

			data-field="nombre_completo"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN nombre_completo_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field1" {$item_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="nombre_completo" data-fieldname="nombre_completo" data-default-width >
{$nombre_completo_value}
</span>
{END nombre_completo_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
									{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$descripcion_class}	"

			data-field="descripcion"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN descripcion_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field3" {$item_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="descripcion" data-fieldname="descripcion" data-default-width >
{$descripcion_value}
</span>
{END descripcion_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
									{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$fecha_postulacion_class}	"

			data-field="fecha_postulacion"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN fecha_postulacion_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field4" {$item_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="fecha_postulacion" data-fieldname="fecha_postulacion" data-default-width >
{$fecha_postulacion_value}
</span>
{END fecha_postulacion_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
							</tr>
										
											{END grid_row}
					</tbody>
													<tfoot>
			
																																			<tr {$rowattrs} {$row_grid_2} class="{$rowclass}
									{$gridFooter_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$id_vacancias_class}	"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="postulacion_importar_planilla_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
									{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$estado_class}	"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="postulacion_importar_planilla_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
									{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$nombre_class}	"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="postulacion_importar_planilla_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
									{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$id_postulacion_class}	"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="postulacion_importar_planilla_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
									{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$nombre_completo_class}	"

	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="postulacion_importar_planilla_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field5}
									{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$descripcion_class}	"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="postulacion_importar_planilla_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
									{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$fecha_postulacion_class}	"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="postulacion_importar_planilla_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
	</div>
<div class="r-below">
					{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="topbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		{BEGIN pagination_block}
<span data-itemtype="pagination" data-itemid="pagination" {$item_pagination} data-pageid="{$pageid}" >
{$pagination}
</span>
{END pagination_block}
		</div>					</div>
			</div>		
{END below-grid_block}
	</div>




											
					</div>
				</div>
			</div>
		</div>
		{$footer}
	{END body}
	</body>
</html>
